<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TlotloTau"
        tools:replace="android:theme">
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Auth.LoginActivity"
            android:exported="false" /> <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Create Estimate Activity -->
        <activity android:name=".Documents.CreateEstimateActivity" /> <!-- Estimate Preview Activity -->
        <activity android:name=".Documents.EstimatePreviewActivity" /> <!-- Create Invoice Activity -->
        <activity android:name=".Documents.CreateInvoiceActivity" /> <!-- Edit Company Info Activity -->
        <activity android:name=".Settings.EditCompanyInfoActivity" /> <!-- Invoice Preview Activity -->
        <activity android:name=".Documents.InvoicePreviewActivity" /> <!-- Add Product Activity -->
        <activity android:name=".Inventory.AddProductActivity" /> <!-- Sell Product Activity -->
        <activity android:name=".SellProductActivity" /> <!-- Edit Product Activity -->
        <activity android:name=".Inventory.EditProductActivity" /> <!-- Product List Activity -->
        <activity android:name=".Inventory.ProductListActivity" /> <!-- Manage Products Activity -->
        <activity android:name=".Inventory.ManageProductsActivity" /> <!-- Documents Activity -->
        <activity android:name=".Documents.DocumentsActivity" /> <!-- Document Detail Activity -->
        <activity android:name=".Documents.DocumentDetailActivity" /> <!-- FileProvider for Sharing -->
        <activity android:name=".Auth.RegisterActivity" /> <!-- Register Activity -->
        <activity android:name=".Auth.ProfileActivity" /> <!-- User Profile Activity -->
        <activity android:name=".Settings.Settings"/><!-- Settings Activity -->
        <activity android:name=".Settings.PaymentMethod" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>


</manifest>